 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-shape-1 {
  width: 388px;
  height: 388px;
  margin: 195px auto 0;
}

.u-section-1 .u-group-1 {
  width: 1076px;
  min-height: 488px;
  height: auto;
  margin: -426px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 0 -50px 0 830px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.5rem;
  margin: 62px 20px 0 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.5rem;
  margin: 0 20px 0 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 33px 196px 0 0;
}

.u-section-1 .u-line-1 {
  height: 149px;
  transform-origin: center bottom 0px;
  width: 20px;
  margin: -211px 0 62px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-shape-1 {
    position: relative;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-top: -453px;
    margin-left: 28px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 4px;
    margin-right: 7px;
    margin-left: 655px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 73px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 162px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -135px;
    margin-right: 46px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -530px;
    min-height: 504px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 66px;
    margin-right: 33px;
    margin-left: 475px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 94px;
    margin-right: 402px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -2px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 7px;
    margin-right: 124px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -91px;
    margin-right: 2px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-group-1 {
    margin-top: -486px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1076px;
    margin-right: 9px;
    margin-left: 257px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -867px;
    margin-right: 266px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 9px;
    margin-right: 79px;
    margin-left: 14px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -132px;
    margin-right: 13px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: 156px;
    margin-right: -14px;
  }

  .u-section-1 .u-group-1 {
    min-height: 619px;
    margin-top: -283px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1195px;
    margin-right: 6px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1161px;
    margin-right: -35px;
    margin-left: -6px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin-right: 3px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
    margin-right: 6px;
    margin-left: 52px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -245px;
    margin-right: -6px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 3137px;
}

.u-section-2 .u-image-1 {
  width: 792px;
  height: 792px;
  margin: 941px auto 0 58px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -1733px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 1112px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-2 {
  height: 611px;
  width: 505px;
  margin: -167px auto 0 20px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 272px 134px 0 39px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1286px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  margin: 183px 20px 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 18px 20px 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 44px;
  min-height: 16px;
  width: 159px;
  min-width: 76px;
  margin: 13px 462px 0 9px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-text-4 {
  font-family: "Courier New", monospace;
  font-size: 3rem;
  margin: 254px 1px 0 -120px;
}

.u-section-2 .u-image-3 {
  height: 616px;
  width: 691px;
  margin: 42px 5px -165px -56px;
}

.u-section-2 .u-image-4 {
  width: 241px;
  height: 896px;
  margin: 505px auto 0 432px;
}

.u-section-2 .u-text-5 {
  font-weight: 900;
  font-size: 3.75rem;
  text-transform: uppercase;
  line-height: 1.5;
  margin: -821px 548px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 31px 819px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: -45px 72px 0 737px;
}

.u-section-2 .u-line-1 {
  height: 273px;
  transform-origin: center top 0px;
  width: 20px;
  margin: -281px 582px 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 311px 747px 60px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3102px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1033px;
    margin-left: 15px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1825px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1372px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 279px;
    margin-right: 146px;
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1372px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 159px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 166px;
    margin-right: 0;
    margin-left: -280px;
  }

  .u-section-2 .u-image-3 {
    height: 702px;
    width: 678px;
    margin: 74px 0 -53px -138px;
  }

  .u-section-2 .u-image-4 {
    width: 618px;
    margin-top: 584px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -868px;
    margin-right: 639px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 55px;
    margin-right: 619px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 104px;
    margin-right: 0;
    margin-left: 650px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -656px;
    margin-right: 410px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 214px;
    margin-right: 639px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3305px;
  }

  .u-section-2 .u-image-1 {
    width: 532px;
    height: 532px;
    margin-top: 946px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1478px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1256px;
  }

  .u-section-2 .u-image-2 {
    height: 526px;
    margin-top: -136px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 249px;
    margin-right: 49px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1293px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 121px;
    margin-right: 155px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 6px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-social-icons-1 {
    height: 58px;
    width: 202px;
    margin-right: 224px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 479px;
    width: 517px;
    margin: 121px 1px 0 -83px;
  }

  .u-section-2 .u-image-4 {
    width: 241px;
    margin-top: 206px;
    margin-right: 27px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -846px;
    margin-right: 435px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 9px;
    margin-right: 351px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 397px;
    margin-right: 254px;
    margin-left: 185px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -810px;
    margin-right: 310px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -86px;
    margin-right: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3310px;
  }

  .u-section-2 .u-image-1 {
    width: 458px;
    height: 458px;
    margin-top: 1169px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1626px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 713px;
  }

  .u-section-2 .u-image-2 {
    height: 577px;
    width: 505px;
    margin-top: -80px;
    margin-right: auto;
    margin-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin: 1143px 11px -1023px 307px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1159px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -133px;
    margin-right: 80px;
    margin-left: 426px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 15px;
    margin-right: 59px;
    margin-left: 73px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 49px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 59px;
    margin-right: 59px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 478px;
    margin-top: -39px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: -46px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -823px;
    margin-right: 321px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 15px;
    margin-right: 234px;
    margin-left: 15px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 179px;
    margin-right: 268px;
    margin-left: 69px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 215px;
    margin-right: 259px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -292px;
    margin-right: 273px;
    margin-left: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2520px;
  }

  .u-section-2 .u-image-1 {
    height: 257px;
    width: 257px;
    margin-top: 994px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1251px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-2 .u-image-2 {
    height: 300px;
    width: 250px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin: 552px -12px -373px 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 788px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -277px;
    margin-right: 27px;
    margin-left: 163px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    height: 53px;
    width: 187px;
    margin-top: 0;
    margin-left: -10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 223px;
    width: 223px;
    margin-top: 8px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 108px;
    height: 678px;
    margin-top: -80px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -571px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 27px;
    margin-right: 129px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 354px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: -1047px;
    margin-right: 2px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-8 {
    margin: 643px 0 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1723px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 167px auto 0 -8px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 629px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 629px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-shape-1 {
  width: 460px;
  height: 460px;
  background-image: none;
  margin: 42px auto 0 0;
}

.u-section-3 .u-image-1 {
  height: 658px;
  width: 927px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: -471px auto 0 12px;
}

.u-section-3 .u-image-2 {
  width: 537px;
  height: 700px;
  object-position: 50% 100%;
  background-position: 50% 100%;
  margin: -1166px 40px 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 486px 50px 0 611px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  margin: 141px 590px 0 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 50px 501px 60px 110px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1690px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 1080px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-3 .u-shape-1 {
    width: 663px;
    height: 700px;
    margin-top: -198px;
    margin-left: -187px;
  }

  .u-section-3 .u-image-1 {
    height: 741px;
    margin-top: -554px;
  }

  .u-section-3 .u-image-2 {
    width: 440px;
    height: 631px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 554px;
    margin-right: 0;
    margin-left: 462px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 410px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 401px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1411px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 869px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-3 .u-shape-1 {
    width: 521px;
    height: 504px;
    margin-top: -329px;
    margin-left: -146px;
  }

  .u-section-3 .u-image-1 {
    height: 574px;
    width: 669px;
    margin-top: -606px;
    margin-left: 15px;
  }

  .u-section-3 .u-image-2 {
    width: 383px;
    height: 550px;
    margin-top: -953px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 444px;
    margin-left: 251px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 203px;
    margin-right: 199px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-right: 159px;
    margin-left: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1760px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 767px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 847px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 847px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -655px;
    margin-right: 90px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    height: 513px;
    width: 677px;
    margin-top: -1326px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 363px;
    height: 454px;
    margin-top: -841px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 514px;
    margin-right: 22px;
    margin-left: 127px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 160px;
    margin-right: 420px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 56px;
    margin-right: 32px;
    margin-left: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-3 .u-layout-cell-1 {
    z-index: 2;
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-2 {
    z-index: 0;
    min-height: 353px;
  }

  .u-section-3 .u-shape-1 {
    width: 252px;
    height: 231px;
    margin-top: -635px;
    margin-right: 13px;
  }

  .u-section-3 .u-image-1 {
    height: 243px;
    width: 282px;
    margin-top: -919px;
  }

  .u-section-3 .u-image-2 {
    width: 179px;
    height: 212px;
    margin-top: -404px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 411px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 52px;
    margin-right: -21px;
    margin-left: 21px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/b10.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 659px;
}

.u-section-4 .u-group-1 {
  width: 640px;
  min-height: 353px;
  margin: 165px auto 65px 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 67px;
  padding-right: 45px;
}

.u-section-4 .u-line-1 {
  height: 197px;
  width: 20px;
  transform-origin: center top 0;
  margin: 35px auto 0 -54px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: -197px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 13px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-4 .u-group-1 {
    width: 528px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 37px;
  }

  .u-section-4 .u-line-1 {
    width: 16px;
    margin-left: -45px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-4 .u-group-1 {
    width: 404px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 56px;
    padding-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 13px;
    margin-top: 45px;
    margin-left: -47px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-position: 0% 0%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-4 .u-group-1 {
    width: 476px;
    min-height: 365px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-4 .u-line-1 {
    width: 12px;
    margin-top: 62px;
    margin-left: -41px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 29px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-4 .u-group-1 {
    min-height: 456px;
    margin-top: 87px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .u-section-4 .u-line-1 {
    width: 10px;
    transform-origin: center top 0px;
    margin-top: 0;
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -217px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-2 {
    margin: 10px 30px 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 704px;
}

.u-section-5 .u-image-1 {
  width: 146px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 619px;
  margin: -75px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: -383px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 564px;
}

.u-section-5 .u-form-1 {
  height: 308px;
  margin: 39px 85px 0 24px;
}

.u-section-5 .u-input-1 {
  background-image: none;
}

.u-section-5 .u-input-2 {
  background-image: none;
}

.u-section-5 .u-input-3 {
  background-image: none;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 542px;
}

.u-section-5 .u-container-layout-2 {
  padding-right: 16px;
}

.u-section-5 .u-image-2 {
  width: 343px;
  height: 402px;
  margin: -151px -22px 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: -25px 9px 0 224px;
}

.u-section-5 .u-image-3 {
  width: 466px;
  height: 230px;
  margin: -230px auto 0 337px;
}

.u-section-5 .u-text-2 {
  font-weight: normal;
  margin: -606px -24px 60px 24px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    z-index: 2;
  }

  .u-section-5 .u-form-1 {
    margin-top: 54px;
    margin-right: 73px;
    margin-left: 16px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 564px;
    z-index: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 13px;
  }

  .u-section-5 .u-image-2 {
    width: 303px;
    margin-top: -160px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 26px;
    margin-left: 157px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    margin-top: -60px;
    margin-right: 65px;
    margin-left: 14px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 254px;
    margin-top: -330px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -40px;
    margin-right: 14px;
    margin-left: 152px;
  }

  .u-section-5 .u-image-3 {
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -546px;
    margin-right: 508px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -85px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-form-1 {
    margin-top: -18px;
    margin-right: 156px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -91px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-1 {
    margin: 100px 9px -88px 165px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 71px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -938px;
    margin-right: 289px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-5 .u-image-1 {
    width: 133px;
    height: 609px;
    margin-top: -171px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -418px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-form-1 {
    margin-top: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    width: 195px;
    height: 316px;
    margin-top: 11px;
  }

  .u-section-5 .u-text-1 {
    margin: 0 0 0 22px;
  }

  .u-section-5 .u-image-3 {
    height: 168px;
    margin-top: -169px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    font-weight: 700;
    margin-top: -698px;
    margin-right: 0;
    margin-left: auto;
  }
}